name: Build and Deploy

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Ensure full history is fetched for branch operations
        token: ${{ secrets.GITHUB_TOKEN }}


    - name: Build project # Replace with your actual build command
      working-directory: calendar_test
      run: |
        npm ci
        npm run build

    - name: Push build folder using Git commands
      run: |
        # Configure Git user
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"

        # Create a temporary directory for the build files to be the root of the new branch
        mkdir gh-pages-temp
        cp -r calendar_test/build/* gh-pages-temp/

        # Switch to the new directory
        cd gh-pages-temp

        # Initialize as a new git repo, commit, and push
        git init
        git add .
        git commit -m "Deploying build artifacts"
        git push -f https://${{ secrets.GITHUB_TOKEN }}@github.com{{ github.repository }}.git HEAD:gh-pages
      # Note: This approach overwrites the remote branch history with just the build folder contents.
