name: Build and Deploy

on: [push]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout your repository
      - name: Checkout repo
        uses: actions/checkout@v3

      # Step 2: Set up Node.js (optional, only if you need to build)
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # Step 3: Install dependencies
      - working-directory: calendar_test
        run: npm ci

      # Step 4: Build project
      - working-directory: calendar_test
        run: npm run build

      # Step 5: Push build folder to another branch
      - name: Deploy to gh-pages branch
        uses: peaceiris/actions-gh-pages
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./calendar_test/build      # path to your build folder
          publish_branch: build     # target branch
