name: Build and Deploy

on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Ensure full history is fetched for branch operations
        token: ${{ secrets.GITHUB_TOKEN }}


    - name: Build project # Replace with your actual build command
      working-directory: calendar_test
      run: |
        npm ci
        npm run build

    - name: Deploy build folder to a separate branch
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: build # Target branch name (e.g., gh-pages, deploy)
        FOLDER: calendar_test/build     # Your build output folder (e.g., dist, build)
        COMMIT_MESSAGE: "Deploying build artifacts ({sha})"
      with:
        args: -am "${COMMIT_MESSAGE}"
